* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Amazon Ember", "Amazon Arabic Ember", Arial, sans-serif;
  ;
}

/* --------------- > header < -------------------- */

body {
  background-color: black;
}

.header {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 200px;
  height: 60px;
}

.webLogo {
  cursor: pointer;
}

.menuSections {
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative;
}

.userBgHide {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.userBgShow {
  width: 60px;
  background-color: #181c24;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.userSingInText h3{
  color: #e1a368;
  cursor: pointer;
}
/* .userLogo {
  display: flex;
  justify-content: center;
} */

.userDropDown {
  background-color: #181c24;
  color: #ababab;
  position: absolute;
  top: 60px;
  width: 175px;
  padding: 5px 0;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 0;
  border-radius: 0 0 8px 8px;
  z-index: 3;
}


.userDropDown h2 {
  color: white;
  width: 135px;
  padding: 10px 0 10px 5px;
  border-radius: 8px;
  font-size: 15px;
  cursor: pointer;
  font-size: 16px;
}

.userDropDown h2:hover {
  background-color: white;
  color: #181c24;
}



.headerRightSection {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  align-items: center;
  gap: 30px;
  /* background-color: #e1a368; */
}

.SearchMovie img {
  cursor: pointer;
}

.search {
  background-color: #191e25;
  position: absolute;
  right: 0%;
  z-index: 5;
  display: flex;
  align-items: center;
  width: 700px;
  padding: 5px;
  border-radius: 10px;
  border: 2px solid white;
  margin-top: 10px;
}

.search img {
  padding: 5px;
}

.search input {
  background-color: #191e25;
  width: 100%;
  height: 40px;
  padding-left: 7px;
  outline: none;
  color: white;
  font-size: 16px;
  border: none;
}

.mobileMenu {
  position: relative;
  display: none;
}

.mobileMenu img {
  width: 35px;
  cursor: pointer;
}

.mobileMenuSections {
  position: absolute;
  left: 0%;
  z-index: 5;
}

.mobileMenuSections h2 {
  color: white;
  font-size: 17px;
  margin-top: 5px;
}


/* --------------- > AuthenticationUser < -------------------- */

.authenticationUserSeaction {
  overflow: hidden;
  position: absolute;
  width: 100%;
}

.authenticationUser {
  height: 100vh;
  overflow-y: hidden;
  background-image: linear-gradient(to right, black 45%, transparent 78%, transparent 100%);
}

.userWelcomeText {
  /* background-color: aqua; */
  width: 50vw;
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 6%;
}

.userWelcomeText h1 {
  color: white;
  font-weight: normal;
  font-size: 50px;
  margin-bottom: 15px;
}

.userWelcomeText button {
  width: 120px;
  height: 40px;
  font-size: 17px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #e1a368;
  font-weight: bold;
  color: white;
}

.authenticationUserBgImage {
  position: absolute;
  height: 100vh;
  right: 0%;
  z-index: -1;
}




/* --------------- > Log In page < -------------------- */
.logInPage {
  /* background-color: black; */
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 91vh;
  overflow: hidden;
  /* background-color: #e1a368; */
}

.logInSection {
  position: absolute;
  z-index: -5;
  width: 100%;
  height: 100vh;
  background-color: black;
}

.logIn {
  position: absolute;
  top: 12%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2%;
  background-color: #e1a368;

}

.logInForm {
  background-color: black;
  width: 450px;
  padding: 50px;
  border: 2px solid rgb(172, 172, 172);
  border-radius: 8px;

}

.authenticationUserBgImage {
  position: absolute;
  height: 100vh;
  right: 0%;
  z-index: -1;
}


.logInPage img {
  position: relative;
  z-index: -1;
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.logInPage {
  background-image: linear-gradient(to bottom, black 8%, transparent 40%, black 85%);
  /* background-image: linear-gradient(to top, red 3%, transparent 20%, transparent 100%); */
}


.logInForm h2 {
  font-size: 32px;
  margin-bottom: 25px;
  color: white;
  font-weight: normal;
}

.logInForm input {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  outline: none;
  padding-left: 5px;
  margin-bottom: 18px;
}

.logInForm button {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  margin-top: 30px;
  cursor: pointer;
  background-color: #e1a368;
  font-weight: bold;
  color: white;
}

.logInForm p {
  margin-top: 15px;
  color: white;
}

.toggelBTN {
  cursor: pointer;
  color: #808080;
}

.formError {
  color: red;
  margin-top: -8px;
  font-size: 14px;
}





/* --------------- > FirstSection < -------------------- */

.MovieTitle {
  background: linear-gradient(180deg, black 0%, transparent 50%, black 100%);
  width: 100%;
  height: 91vh;
  padding-left: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.MovieTitle h1 {
  color: white;
  width: 40%;
  font-size: 40px;
  margin-bottom: 20px;
  /* background-color: #e1a368; */
}

.MovieTitle P {
  color: white;
  width: 35%;
}

.description {
  display: block;
}

.MovieTitle button {
  width: 85px;
  height: 35px;
  border-radius: 5px;
  margin-top: 15px;
  cursor: pointer;
  font-size: 14px;
  border: none;
  background-color: #e1a368;
  color: white;
  font-weight: bold;
}

.MovieBgPlay {
  position: absolute;
  top: 60px;
  z-index: -2;
  width: 100%;
  height: 91%;
}





/* --------------- > SecondSection < -------------------- */
.SecondSection {
  background-color: black;
  padding-bottom: 30px;
}

.movieList {
  padding: 15px 15px;
}

.movieListTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.movieListTitle h1 {
  font-size: 40px;
  margin-bottom: 5px;
  margin-left: 5px;
  color: rgb(209, 209, 209);
}

.movieListTitle h2 {
  cursor: pointer;
  font-size: 18px;
  color: rgb(209, 209, 209);
}

.movieListTitle h2:hover {
  color: white;
}

.MovieCards {
  display: flex;
  overflow-x: scroll;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: black;
}


/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(62, 59, 81);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(52, 49, 68);
}

.MovieCards img {
  width: 180px;
  cursor: pointer;
  margin: 0 10px;
  border-radius: 10px;
  margin-bottom: 15px;
}

.ShimmarUI {
  background-color: #cbcbcb;
  width: 96%;
  height: 86vh;
  margin: 15px auto;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 60px;
}

.ShimmarUI h1 {
  width: 35%;
  height: 40px;
  background-color: #bbbbbb;
  border-radius: 10px;
}

.ShimmarUI h3 {
  width: 35%;
  height: 150px;
  margin-top: 10px;
  background-color: #bbbbbb;
  border-radius: 10px;
}

.ShimmarUI h4 {
  width: 85px;
  height: 35px;
  margin-top: 10px;
  background-color: #bbbbbb;
  border-radius: 10px;
}

.endLogo {
  height: 200px;
  display: flex;
  align-items: end;
  justify-content: center;
}

.endLogo img {
  width: 100px;
  cursor: pointer;
}





/* --------------- > WatchListMovies < -------------------- */


.watchList {
  margin-right: 30px;
  position: relative;
}

.watchList h2 {
  font-size: 17px;
  color: white;
  /* background-color: #e1a368; */
}

.watchListCount{
  font-size: 10px;
  color: white;
  background-color: red;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -10px;
  right: -10px;
}

.menuSections > a:nth-child(2) {
  position: relative;
}
.mobileMenuSections > a:nth-child(2) {
  position: relative;
}
.watchListMovies {
  position: relative;
  width: 200px;
}

.watchListMovies :nth-child(1) {
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
}

.watchListMovies :nth-child(2) {
  position: absolute;
  top: 0%;
  right: 0%;
  cursor: pointer;
  background-color: black;
  border-radius: 50%;
  width: 30px;
  padding: 4px;
}

.wacthListSection {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  padding: 0 20px;
  gap: 20px;
  justify-content: center;
  padding-top: 20px;
}

a {
  text-decoration: none;
}

.noWatchList {
  font-size: 20px;
  color: white;
  text-align: center;
  margin-top: 100px;
}

.noWatchList span {
  color: white;
}







/* --------------- > moreMovieSection < -------------------- */


.moreMovie img {
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
}

.moreMovie {
  width: 200px;
}

.moreMovieComponent {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 20px;
  justify-content: center;
}

.pagination span {
  border-radius: 10px;
  width: 35px;
  height: 35px;
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 60px 0 100px 0;
  color: white;
}

.moreMovieSeaction h1 {
  color: white;
  font-size: 45px;
  margin: 20px 0 50px 40px;
}









/* --------------- > watchMovie < -------------------- */

.watchMovie {
  width: 100%;
  height: 100vh;
}

.movieDetails {
  color: white;
  padding: 20px;
}

.movieDetails h1 {
  font-size: 37px;
  margin-bottom: 10px;
}

.details p {
  font-size: 16px;
  margin-bottom: 5px;
}

.details p a {
  color: white;
  text-decoration: underline;
}

.addWatchList {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 10px;
  /* justify-content: center; */
}

.addWatchList button {
  width: 50px;
  height: 30px;
  border-radius: 8px;
  margin-left: 10px;
  cursor: pointer;
  background-color: #e1a368;
  color: white;
  font-weight: bold;
}









/* --------------- > searchMovieComponent < -------------------- */


.searchMovieComponent h2 {
  color: white;
  font-size: 40px;
  margin: 5px 0 0px 20px;
}

.getSearchMovie {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  align-items: center;
  justify-content: center;
  margin: 50px 0;
}

.getSearchMovie img{
  border-radius: 10px;
  cursor: pointer;
}

.notFoundMovie{
  color: white;
  font-size: 16px;
  text-align: center;
  margin-top: 20px;
}






@media (max-width:1200px) {

  .MovieTitle,
  .ShimmarUI {
    padding-left: 20px;
  }

  .search {
    width: 550px;
  }

}

@media (max-width:1000px) {
  .header {
    padding: 0 100px;
  }

  .userLogo {
    justify-content: flex-end;
  }

  .watchMovie {
    height: 80vh;
  }
}

@media (max-width:900px) {

  .authenticationUser {
    background-image: linear-gradient(to top, black 45%, transparent 78%, transparent 100%);
  }

  .userWelcomeText {
    position: absolute;
    bottom: 0%;
    width: 100vw;
    height: 60vh;
    justify-content: center;
    align-items: center;
  }

  .logInForm {
    width: 350px;
    padding: 35px;
  }

  .MovieCards img {
    width: 150px;
    cursor: pointer;
    margin: 0 10px;
    border-radius: 10px;
    margin-bottom: 15px;
  }

  .movieListTitle h2 {
    font-size: 16px;
  }



}

@media (max-width:800px) {
  .watchMovie {
    height: 70vh;
  }

  .search {
    right: -80px;
  }

}

@media (max-width:700px) {
  .description {
    display: none;
  }

  .MovieTitle button {
    margin-top: 0;
  }

  .MovieTitle h1 {
    margin-bottom: 10px;
    width: 50%;
  }

  .MovieTitle,
  .ShimmarUI {
    height: 75vh;
  }

  .ShimmarUI h3 {
    display: none;
  }

  .MovieBgPlay {
    height: 75vh;
  }

  .movieListTitle h1 {
    font-size: 33px;
  }

  .movieListTitle h2 {
    font-size: 14px;
  }

  .watchMovie {
    height: 60vh;
  }

  .search {
    width: 450px;
  }

  .mobileMenu {
    display: block;
  }

  .menuSections {
    display: none;
  }

  .header {
    padding: 0 40px;
  }


}

@media (max-width:600px) {

  .userDropDown {
    background-color: #181c24;
    color: #ababab;
    position: absolute;
    top: 60px;
    width: 150px;
    padding: 5px 0;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 0;
    border-radius: 0 0 8px 8px;
  }

  .userDropDown h2 {
    width: 115px;
    padding: 10px 0 10px 5px;
    border-radius: 8px;
    font-size: 15px;
    cursor: pointer;
    font-size: 16px;
  }

  .MovieTitle button,
  .ShimmarUI h4 {
    width: 70px;
    height: 30px;
    font-weight: normal;
  }

  .MovieTitle h1 {
    font-size: 30px;
    margin-top: 200px;
  }

  .ShimmarUI h1 {
    width: 30%;
    margin-top: 200px;
  }

  .ShimmarUI {
    height: 60vh;
    align-items: center;
  }

  .MovieTitle {
    height: 60vh;
  }

  .MovieBgPlay {
    height: 60vh;
  }


  .MovieTitle {
    align-items: center;
  }

  .MovieTitle h1 {
    width: auto;
    margin-top: 200px;
  }

  .watchMovie {
    height: 50vh;
  }


}

@media (max-width:500px) {
  .userWelcomeText h1 {
    font-size: 40px;
  }

  .userWelcomeText button {
    width: 100px;
    height: 35px;
    font-size: 16px;
  }

  .logInForm {
    width: 300px;
    padding: 35px;
  }

  .MovieTitle,
  .ShimmarUI {
    height: 50vh;
  }

  .ShimmarUI h1 {
    width: 110px;
    height: 35px;
  }

  .ShimmarUI h4 {
    width: 60px;
    height: 25px;
  }

  .MovieBgPlay {
    height: 50vh;
  }

  .MovieTitle h1 {
    width: auto;
    margin-top: 200px;
    font-size: 25px;
    margin-bottom: 5px;
  }

  .MovieTitle button {
    width: 60px;
    height: 25px;
    font-weight: normal;
    font-size: 13px;
  }

  .watchList {
    margin-right: 15px;
  }

  .watchList h2 {
    font-size: 15px;
  }

  .watchList p {
    width: 13px;
    height: 13px;
  }

  .menu {
    gap: 10px;
  }

  .header {
    padding: 0 20px;
  }

  .watchMovie {
    height: 40vh;
  }

  .search {
    width: 350px;
    right: -35px;
  }
}

@media (max-width:400px) {
  .webLogo {
    height: 40px;
    cursor: pointer;
  }

  .watchList h2 {
    font-size: 13px;
  }

  .moreMovieSeaction h1 {
    font-size: 40px;
  }

  .search {
    width: 280px;
    right: -40px;
  }

}